@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>个人信息</title>
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background: url(../../Image/back.jpg);
            background-size: cover;
        }

        #title {
            font-family: "微软雅黑";
            font-size: 50px;
            position: relative;
            top: 20px;
            text-decoration: underline;
        }

        #sctitle {
            font-family: "微软雅黑";
            font-size: 30px;
        }

        #titlediv {
            background: url(../../Image/5c1f6acc79984b8f1e8ece9b19ca7afe.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 800px;
            height: 140px;
            border-bottom-color: aliceblue;
            border-style: inset;
            position: relative;
            left: 300px;
        }
         #messagediv {
            width: 800px;
            height: 700px;
            margin-left:20%;
            margin-right:20%;
        }
    </style>
</head>
<body>
    <div id="backdiv">
        <div id="titlediv">
            <div id="title" style="color:white">个人信息</div><br />
            <div id="sctitle" style="color:white">Personal Massage</div>
        </div>
        <div id="messagediv">
            <div class="col-xs-2" style=" width:800px;height:64px;position:relative;top:10px;">
                <div style="font-family:'微软雅黑';font-size:12px;width:1000px;height:200px;position:relative;top:10px;">@Html.ActionLink("返回", "Index", "Home")</div>
            </div>
            
            <div class="col-xs-2" style="width:800px;">
                <table border="1" style="text-align:center;border-collapse:collapse;background-color:aliceblue;font-family:'微软雅黑';font-size:15px;" class="table">
                    <tr>
                        <th>
                    用户：@Model.Name.ToString()，你的个人信息如下：</th>

                    </tr>
                    <tr>
                        <td>你的真实姓名:</td>
                        <td>@Model.Realname.ToString()</td>
                    </tr>
                    <tr>
                        <td>年级:</td>
                        <td>@Model.Grade.ToString()</td>
                    </tr>
                    <tr>
                        <td>院系:</td>
                        <td>@Model.Major.ToString()</td>
                    </tr>
                    <tr>
                        <td>宿舍:</td>
                        <td>@Model.Department.ToString()</td>
                    </tr>
                    <tr>
                        <td>电话号码:</td>
                        <td>@Model.Tel.ToString()</td>
                    </tr>
                    <tr>
                        <td>QQ:</td>
                        <td>@Model.Qq.ToString()</td>
                    </tr>
                    <tr>
                        <td>邮箱:</td>
                        <td>@Model.Mail.ToString()</td>
                    </tr>
                    
                </table>
                    
                    
</div>
      
            <div class ="col-xs-2" style=" width:1000px;height:130px;position:relative;top:10px;">
                <a href="../PMessage/MessageChange" class="btn btn-primary btn-lg active" role="button">修改个人信息</a><br /><br />
                <a href="../PMessage/DeletePMessage" class="btn btn-primary btn-lg active" role="button">清空全部信息</a>                
            </div>
            
        </div>
    </div>
    
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script> 
</body>
</html>
